<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IBPMServicesbinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rndcws.mintransporte.gov.co:8080/soap/IBPMServices"
          binding="basicHttpBinding" bindingConfiguration="IBPMServicesbinding"
          contract="srRndc.IBPMServices" name="IBPMServicesPort" />
    </client>
  </system.serviceModel>
</configuration>